*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.footer {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #669999/*rgba(301, 301, 231,.6)*/;
    position: relative;
}

.footer p {
    font-family: monospace;
}

.footer p:nth-child(1) {
    font-size: 16px;
    color: rgb(25, 25, 25);
    line-height: 10px;
}

.footer p:nth-child(2) {
    color: rgb(126, 125, 125);
    font-size: 16px;
    text-align: center;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(227, 227, 227);
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.copyright {
    color: rgb(86, 85, 85);
    font-size: 13px;
    /* position: absolute; */
    /* left: 50%; */
    bottom: 10px;
    z-index: 9999;
    width: fit-content;
}


nav {
    height: 60px;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    top: 0;
    width: 100%;
    z-index: 100;
    position: sticky;
}

nav ul{
    display: flex;
    list-style: none;
    overflow: hidden;
    float: right;
}

nav ul li a{
    margin: 30px;
    font-family: myriad;
    color: rgb(80, 80, 80);
    font-size: 15px;
    font-weight: 700;
    display: block;
} 


.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

.column {
  float: left;
  width: 45%;
  margin: 25px;
}
button{
  border: none;
  background-color:#0066ff ;
  padding: 10px;
  border-radius: 6px;
  box-shadow:
  0 47px 164px rgba(0, 0, 0, 0.17)
;
margin-left: 80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #fff2cc;
  padding: 10px;
  box-shadow:
  0 6.5px 15.4px rgba(0, 0, 0, 0.072),
  0 47px 43px rgba(0, 0, 0, 0.17)
;

}
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

